
.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    padding: 30px; 
}


.change-password-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 500px; 
}

/* Header Styling */
h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px; 
    color: #222;
}


.form-group {
    margin-bottom: 20px;
}


.form-group label {
    font-weight: bold;
    color: #555555;
    display: block;
    margin-bottom: 8px;
    font-size: 18px; 
}


.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 17px; 
    outline: none;
}


.submit-btn {
    width: 100%;
    padding: 14px;
    background: #FF6045;
    color: white;
    border: none;
    border-radius: 6px;
  
}