/* .user-navbar {
  background-color: #444;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.user-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.user-navbar li {
  padding: 10px 20px;
}

.user-navbar a {
  color: white;
  text-decoration: none;
}

.user-navbar a:hover {
  background-color: #FF6045;
  padding: 10px;
} */
.fadeIn {
  animation: fadeIn 2s ease-in;
}

.slideIn {
  animation: slideIn 2s ease-in;
}

/* Fade In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Slide In Animation */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.user-content { 
  /* margin-top: 60px; */
  padding: 100px;   
   min-height: calc(120vh - 100px);  
} 
.user-content {
  background-image: url('D:\Reactjs\login-app\login-app\public\bgimage.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  color: rgb(1, 14, 4); 
  overflow: hidden;
  
}

  
  
  

  

