.user-navbar {
  background-color: #444;
  padding: 10px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  padding: 10px 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #FF6045;
  padding: 10px;
}

/* Logout button styling */
.logout-btn {
  background-color: #FF6045;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 20px;
  width: auto;
}

.logout-btn:hover {
  background-color: #D9432E;
}
